body {
  background-color: white;
  margin: 0px;
}
.topbar {
  width: 100%;
  margin: auto;
  height: 100px;
  box-shadow: 0px 0px 15px 0px;
}
.navbar {
  width: 620px;
  margin: auto;
}
.navbar h1:nth-child(1) {
  float: left;
  font-family: "Mina", sans-serif;
}
.navbar h1:nth-child(2) {
  float: right;
  font-family: "Mina", sans-serif;
}
.navbar h1:nth-child(2) a {
  text-decoration: none;
  color: red;
}
.main-area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Mina", sans-serif;
}
.project {
  width: calc(25% - 20px); /* Adjust the width as needed */
  height: 200px; /* Set the height as needed */
  margin: 10px; /* Set margin for spacing */
  background-color: #ccc; /* Background color */
  background: linear-gradient(135deg, white, lightgray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.project a {
  text-decoration: none;
}
